.nav {
    width: 100%;
    background-color: #b7ab4f;
    color: white;
    padding: 16px 0;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;
  }
  
  .name {
    font-size: 10rem;
    font-weight: 700;
  }
  
  .nav-links {
    padding: 2px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    text-decoration: none;
    color: white;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
  }